<h1>Portraits</h1>

  <div class="row">
    <% @bands.each do |band| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-category"><h2><%= band.name %></h2></div>
        <div class="card-description">
            <%= band.style %>
            <br/>
            <%= band.description %>
            <br/>
            <%= band.rating %>
            <br/>
            <%= band.url %>
            <br/>
            <%= link_to 'Show', band %>
            <%= link_to 'Edit', edit_band_path(band) %>
            <%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
      </div>
    </div>
    <% end %>

  </div>
      <br/>
    <%= link_to 'New Band', new_band_path %>
